body {
    background-image: url('deer.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

th {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    color: white;

}

td {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    color: white;
    
}

